<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <title>MultiFileUpload</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>		
	
		<div class="col-width">		
			<hgroup id="logo">
				<h1 id="site-title">
					<a rel="home" title="Multiple File Upload with Carrierwave and Jquery-File-Upload"
					href="http://localhost:3000//">Carrierwave/Jquery-File-Upload</a>
				</h1>
				
			</hgroup>			
			<nav id="navigation">
				<div class="menu">
					<%= render "#{controller_name}" + "_navigation" %>			
				</div>
 			</nav>
		</div>
	
	 			   
				<%= yield %>
		
	</div>
	
</body>
</html>
